<h2>Hello i'm a playlist!</h2>
<form (submit)="addVideo($event, newVideo)">
	<div class="form-group">
		<label for="title">Title:</label>
		<input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="newVideo.title">
	</div>
	<div class="form-group">
		<label for="videoCode">Video Code:</label>
		<input type="text" class="form-control" id="videoCode" placeholder="Video Code" [(ngModel)]="newVideo.videoCode">
	</div>
	<div class="form-group">
		<label for="desc">Description:</label>
		<input type="text" class="form-control" id="desc" placeholder="Description" [(ngModel)]="newVideo.desc">
	</div>
	<div class="form-group">
		<button class="btn btn-default">Save</button>
	</div>
</form>
<hr>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#v of videos" (click)="showVideo(v)">
			<td>{{ v.id }}</td>
			<td>{{ v.title }}</td>
			<td>{{ v.desc }}</td>
		</tr>
	</tbody>
</table>